@charset "utf-8";
/* CSS Document */

a {
	text-decoration: none;
	color: inherit;
}

body,
html {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 18px;
	height: 100%;
	min-height: 850px;
	color: #F3F3F3;
	background-color: transparent;
}

body {
	-webkit-backface-visibility: hidden;
	cursor: all-scroll;
}

form.has-return-msg {
	position: relative;
	overflow: auto;
}

h1,
h2 {
	margin-bottom: 50px;
}

html {
	-webkit-font-smoothing: antialiased;
}

html.cssanimations .nav-left-link.animated,
html.cssanimations .nav-right-link.animated,
html.cssanimations .slide-bottom.animated,
html.cssanimations .slide-head.animated {
	opacity: 0;	
}

input, textarea {
	color: rgba(255,255,255,0.7);
	font-family: 'Open Sans';
	font-weight: 200;
	font-size: 90%;
	background-color: transparent;
	border: 1px rgba(255,255,255,0.4) solid;
	padding: 9px 3% 9px 3%;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

input[type=text]:focus,
input[type=submit]:hover,
textarea:focus {
	outline: none;
	background-color: rgba(0,0,0,0.45);
	color: #E2E2E2;
}

input[type=submit] {
	background-color: rgba(0,0,0,0.15);
	height: 40px;
	float: right;
	width: 24%;
}

::-webkit-input-placeholder {
	color: #EEE;
}

:-moz-placeholder {
	color: #EEE;
}

::-moz-placeholder {
	color: #EEE;
}

:-ms-input-placeholder {  
	color: #BBB;  
}


/*IDs*/

#background {
	position: absolute;
	height: 100%;
	width: 100%;
}
#background:after {
	background-image: url('../images/bg_pattern.png');
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	z-index: 3;
}
#background-image {
	width: 100%;
	height: 100%;
	background-image: url('../images/bg_img.jpg');
	background-position: center;
	background-size: cover;
}

#background-slider {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 3;
}

#copyright-info {
	white-space: nowrap;
	-webkit-transition: color 0.3s ease-out;
	   -moz-transition: color 0.3s ease-out;
		 -o-transition: color 0.3s ease-out;
			transition: color 0.3s ease-out;
}

#copyright-info:hover {
	color: rgba(255,255,255,0.8);
}

#copyright-info-container {
	text-align: center;
	display: inline-block;
	overflow: hidden;
	padding: 2px 0;
}

#copyright-sign {
	cursor: pointer;
}

#counter {
	height: 150px;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	top: 397px;
	z-index: 10;
	position: absolute;
	z-index: 5;
}

#cube {
	font-size: 90%;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

#cube.show-front {
	-webkit-transform: rotateX( 0deg );
	   -moz-transform: rotateX( 0deg );
			transform: rotateX( 0deg );
}

#cube.show-top {
	-webkit-transform: rotateX( -90deg );
	   -moz-transform: rotateX( -90deg );
			transform: rotateX( -90deg );
}

#cube.show-bottom {
	-webkit-transform: rotateX( 90deg );
	   -moz-transform: rotateX( 90deg );
			transform: rotateX( 90deg );
}

#cube input {
	font-size: 100%;
}

#cube .cube-slide {
	line-height: 40px;
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	border: 1px rgba(255,255,255,0.4) solid;
}

#cube .cube-slide-1 {
	-webkit-transform: rotateX(90deg) translateZ(20px);
	   -moz-transform: rotateX(90deg) translateZ(20px);
			transform: rotateX(90deg) translateZ(20px);
}

#cube .cube-slide-2 {
	-webkit-transform: translateZ(20px);
	   -moz-transform: translateZ(20px);
			transform: translateZ(20px);
}

#cube .cube-slide-3 {
	-webkit-transform: rotateX(-90deg) translateZ(20px);
	   -moz-transform: rotateX(-90deg) translateZ(20px);
			transform: rotateX(-90deg) translateZ(20px);
}

#cube .return-msg {
	margin: 1px;
}

#footer {
	font-size: 80%;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	color: rgba(255,255,255,0.4);
	z-index: 8;
	padding: 2px 0;
}

#main-content {
	height: 100%;
	width: 100%;
	position: relative;
}

#page-loader {
	width: 100%;
	height: 100%;
	background-color: #222;
	background-image: url('../images/ajax-loader-big.gif');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 20;
	position: absolute;
}

#socials {
	position: absolute;
	z-index: 8;
	bottom: 5%;
	width: 80%;
	left: 10%;
	text-align: center;
	padding-bottom: 10px;
}

#socials i {
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: rgba(255,255,255,0.4);
	display: inline-block;
	padding: 4px;
	font-size: 120%;
	border: 1px rgba(255,255,255,0.4) solid;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	background-color: rgba(0,0,0,0);
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
		 -o-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

#socials i:hover {
	-webkit-animation: pulse 2s 280ms infinite;
	   -moz-animation: pulse 2s 280ms infinite;
		 -o-animation: pulse 2s 280ms infinite;
			animation: pulse 2s 280ms infinite;
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.3);
	border-color: rgba(255,255,255,0.8);
}


/*Classes*/

.ajax-loader {
	width: 28px;
	height: 28px;
	position: absolute;
	background-image: url('../images/ajax-loader.gif');
	top: 50%;
	left: 50%;
	margin-top: -14px;
	margin-left: -14px;
	display: none;
}

.animated {
	-webkit-animation-fill-mode: forwards;
	   -moz-animation-fill-mode: forwards;
		 -o-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
		 -o-animation-duration: 1s;
			animation-duration: 1s;
}

.slide-bottom {
	height: 140px;
}

.slide-bottom.animated,
.slide-head.animated {
	-webkit-animation-name: fadeInUp;
	   -moz-animation-name: fadeInUp;
		 -o-animation-name: fadeInUp;
			animation-name: fadeInUp;
	-webkit-animation-delay: 0.75s;
	   -moz-animation-delay: 0.75s;
		 -o-animation-delay: 0.75s;
			animation-delay: 0.75s;
}

.slide-bottom,
.slide-head {
	position: relative;
	z-index: 4;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	overflow: visible;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.content {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 8;
	padding-top: 80px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.counter-item.days,
.counter-item.hours,
.counter-item.minutes,
.counter-item.seconds {
	float: left;
	text-align: center;
	height: 100%;
	width: 25%;
	padding: 0 2.5%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.counter-item.hours,
.counter-item.minutes,
.counter-item.seconds {
	border-left: 1px rgba(255,255,255,0.4) solid;
}

.counter-item-name {
	padding-top: 17px;
	font-size: 80%;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.counter-item-value {
	font-size: 500%;
	position: relative;
	line-height: 100px;
	height: 100px;
}

.counter-item-value .current,
.counter-item-value .next,
.counter-item-value .prev {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transform: scale(1) translateY(0px) translateZ(0);
	   -moz-transform: scale(1) translateY(0px);
		-ms-transform: scale(1) translateY(0px);
		 -o-transform: scale(1) translateY(0px);
			transform: scale(1) translateY(0px);
	-webkit-transition: all 200ms ease-in-out;
	   -moz-transition: all 200ms ease-in-out;
		 -o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
}

.counter-item-value .next {
	-webkit-transform: scale(0.7) translateY(-70px) translateZ(0);
	   -moz-transform: scale(0.7) translateY(-70px);
		-ms-transform: scale(0.7) translateY(-70px);
		 -o-transform: scale(0.7) translateY(-70px);
			transform: scale(0.7) translateY(-70px);
	opacity: 0;
}

.counter-item-value .prev {
	-webkit-transform: scale(0.7) translateY(70px) translateZ(0);
	   -moz-transform: scale(0.7) translateY(70px);
		-ms-transform: scale(0.7) translateY(70px);
		 -o-transform: scale(0.7) translateY(70px);
			transform: scale(0.7) translateY(70px);
	opacity: 0;
}

.counter-placeholder {
	height: 225px;
}

.form-email-container {
	width: 360px;
    position: relative;
	height: 40px;
	margin: 0 auto;
	-webkit-perspective: 3000px;
			perspective: 3000px;
	border: 1px rgba(255,255,255,0.4) solid;
}

.form-email-container.no-border {
	border: none;
}

.form-email-container input {
	border: none;
	background-color: transparent;
}

.form-email-container input[type=text] {
	float: left;
	width: 76%;
}

.full-form input[type=text] {
	width: 97%;
}

.full-form input.left-side {
	float: left;
}

.full-form input.right-side {
	float: right;
}

.full-form textarea {
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-left: auto;
	margin-right: auto;
}

.full-form .return-msg {
	padding: 3%;
}

.slide-head {
	height: 265px;
}

.nav-icon-first,
.nav-icon-second {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

.nav-icon-first {
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		 -o-transform: translateY(0px);
			transform: translateY(0px);
}

.nav-icon-second {
	-webkit-transform: translateY(-50px);
	   -moz-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		 -o-transform: translateY(-50px);
			transform: translateY(-50px);
}

.nav-left,
.nav-right {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	line-height: 50px;
	border: 2px #F3F3F3 solid;
	overflow: hidden;
	background: -webkit-radial-gradient(rgba(0,0,0,0.13) 25%, rgba(0,0,0,0.6) 100%);
	background: -moz-radial-gradient(rgba(0,0,0,0.13) 25%, rgba(0,0,0,0.6) 100%);
	background: -o-radial-gradient(rgba(0,0,0,0.13) 25%, rgba(0,0,0,0.6) 100%);
	background: radial-gradient(rgba(0,0,0,0.13) 25%, rgba(0,0,0,0.6) 100%);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.nav-left:hover,
.nav-right:hover {
	-webkit-animation: pulse 2s 280ms infinite;
	   -moz-animation: pulse 2s 280ms infinite;
		 -o-animation: pulse 2s 280ms infinite;
			animation: pulse 2s 280ms infinite;
}

.nav-left:hover .nav-icon-first,
.nav-right:hover .nav-icon-first {
	-webkit-transform: translateY(50px);
	   -moz-transform: translateY(50px);
		-ms-transform: translateY(50px);
		 -o-transform: translateY(50px);
			transform: translateY(50px);
}

.nav-left:hover .nav-icon-second,
.nav-right:hover .nav-icon-second {
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		 -o-transform: translateY(0px);
			transform: translateY(0px);
}

.nav-left-container,
.nav-right-container {
	width: 54px;
	height: 54px;
	position: absolute;
	top: 50%;
	margin-top: -27px;
	z-index: 15;
}

.nav-left-container {
	left: 10px;
}

.nav-right-container {
	right: 10px;
}

.nav-left-link,
.nav-right-link {
	font-size: 110%;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}

.nav-left-link.animated,
.nav-right-link.animated {
	display: block;
	-webkit-animation: fadeIn 0.5s forwards 1s;
	   -moz-animation: fadeIn 0.5s forwards 1s;
		 -o-animation: fadeIn 0.5s forwards 1s;
			animation: fadeIn 0.5s forwards 1s;
}

.return-msg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	cursor: pointer;
	font-size: 90%;
	line-height: 38px;
	background-color: rgba(20,20,20,0.80);
	background-image: url('../images/bg_pattern.png');
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	border: 1px #AAA solid;
	text-align: center;
}

.slide-content {
	overflow: auto;
	float: left;
	height: 100%;
	width: 100%;
	position: relative;
}

.swiper-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.swiper-slide {
	position: relative;
}

.swiper-wrapper {
	z-index: 2;
}

.tooltip-trigger {
	cursor: pointer;
}

.ui-tooltip {
	font-size: 14px;
	padding: 6px 8px;
	position: absolute;
	background: #111;
	background: rgba(0,0,0,0.94);
	background: -webkit-linear-gradient(top, rgba(20,20,20,0.70) 0%, rgba(0,0,0,0.94) 100%);
	background: -moz-linear-gradient(top, rgba(20,20,20,0.70) 0%, rgba(0,0,0,0.94) 100%);
	background: -o-linear-gradient(top, rgba(20,20,20,0.70) 0%, rgba(0,0,0,0.94) 100%);
	background: linear-gradient(top, rgba(20,20,20,0.70) 0%, rgba(0,0,0,0.94) 100%);
	color: #DDD;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 1px #000;
	   -moz-box-shadow: 0 0 1px #000;
			box-shadow: 0 0 1px #000;
	border: 1px rgba(40,40,40,0.94) solid;
}

.ui-tooltip:after {
	content: '';
	position: absolute;
	top: -10px;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	border-bottom-color: #111;
	border-bottom-color: rgb(20,20,20);
}


/*Animations*/

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	6% {
		-webkit-box-shadow: 0 0 7px 1px rgba(255,255,255,0.4);
	}
	12% {
		-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	18% {
		-webkit-box-shadow: none;
	}
}
@-moz-keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	6% {
		-moz-box-shadow: 0 0 7px 1px rgba(255,255,255,0.4);
	}
	12% {
		-moz-box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	18% {
		-moz-box-shadow: none;
	}
}
@-o-keyframes pulse {
	0% {
		box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	6% {
		box-shadow: 0 0 7px 1px rgba(255,255,255,0.4);
	}
	12% {
		box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	18% {
		box-shadow: none;
	}
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	6% {
		box-shadow: 0 0 7px 1px rgba(255,255,255,0.4);
	}
	12% {
		box-shadow: 0 0 3px rgba(255,255,255,0.4);
	}
	18% {
		box-shadow: none;
	}
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}


/*Responsivity*/

@media screen and (max-width: 850px) {
	body,
	html {
		min-height: 650px;
	}

	#counter {
		top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		left: 0;
		height: auto;
		margin-left: 0;
	}
	
	.slide-bottom,
	.slide-head {
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		padding: 0 25px;
		height: auto;
		overflow: auto;
	}
	
	.slide-bottom {
		padding-bottom: 15px;
	}
	
	.slide-bottom.animated,
	.slide-head.animated {
		-webkit-animation-duration: 0s;
		   -moz-animation-duration: 0s;
			 -o-animation-duration: 0s;
				animation-duration: 0s;
	}
	
	.content {
		padding-top: 130px;
		padding-bottom: 110px;
	}
	
	.counter-item.days,
	.counter-item.hours,
	.counter-item.minutes,
	.counter-item.seconds {
		height: 80px;
		line-height: normal;
	}
	
	.counter-item-name {
		padding-top: 0;
	}
	
	.counter-item-value {
		font-size: 200%;
		line-height: 65px;
	}
	
	.counter-placeholder {
		height: 0;
	}
	
	html.cssanimations .slide-bottom.animated,
	html.cssanimations .slide-head.animated {
		opacity: 1;
	}
	
	.nav-left-container,
	.nav-right-container {
		top: auto;
		bottom: 20px;
		margin: 0;
	}
	
	.nav-left-container {
		left: 20px;
	}
	
	.nav-right-container {
		right: 20px;
	}
	
	.swiper-container {
		border-color: #C5C5C5;
		border-top: 1px rgba(255,255,255,0.7) solid;
		border-bottom: 1px rgba(255,255,255,0.7) solid;
	}
	
	.wrapper {
		overflow: auto;
	}
}

@media screen and (max-width: 450px) {
	.content {
		padding-top: 190px;
	}
	
	.counter-item.days,
	.counter-item.hours,
	.counter-item.minutes,
	.counter-item.seconds {
		width: 50%;
		float: left;
	}
	
	.form-email-container {
		width: 100%;
	}
	
	.slide-head,
	.slide-bottom {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.nav-left-container {
		left: 0;
	}
	
	.nav-right-container {
		right: 0;
	}

}
